.footer {
  background-color: var(--Very-Dark-Violet);
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.footer-logo {
  font-size: 36px;
  color: white;
  font-weight: bold;
  margin-bottom: 1.5em;
}
.footer h1,
h2,
h3 {
  color: white;
}
.footer-subhead {
  margin-bottom: 2rem;
}
.footer-subhead p {
  color: var(--Gray);
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .gs2-btn {
    max-width: 200px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    align-items: flex-start;
    padding: 2rem 1rem;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .footer {
    padding: 2rem 4rem;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .footer {
    padding: 2rem 8rem;
  }
}
