.shorten-box {
  min-width: 320px;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--Dark-Violet);
  padding: 1em;
  margin: 0 1em;
  transform: translateY(-50%);
}
.short-input {
  padding: 12px;
  margin-bottom: 1em;
}
.shortit-btn {
  background-color: hsl(180, 66%, 49%);
  color: white;
  font-size: 1.25em;
  font-weight: 700;
  width: 100%;
}
.shortit-btn:hover {
  color: white;
  border-color: hsl(180, 66%, 49%);
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  /* background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  ); */
  /* box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75); */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .shorten-box {
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
  }
  .shortit-btn{
    width: 220px;
    font-size: 1em;
    margin-left: 1em;
  }
  .short-input {
    margin: 0;
    width: 100%;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
